<!DOCTYPE html>
<html>
    <head>
        <link href="./css/style.css" rel="stylesheet">
      
        </head>
        <body>
            <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="serach">
            <button>
                search me
            </button>
        </form>
        <p id="1"></p>
        <p id="2"></p>
    </div>
            {{>footer}}
              <script src="/js/a.js"> </script>
        </body>
    
</html>